@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ital, Montserrat, Nunito, sans-serif;
    color: #C0C0C0;
}
body{
    background-color: #6b8997;
}
/*----------Navigationsbar----------*/
.navbar {
    display: flex;
    justify-content: center;
    text-transform: none;
}
#home,#About,#Services,#Portfolio,#content,#lebenslauf{
    margin: 20px 10px 0px 10px;
    background-color: rgb(50, 46, 56);
    padding: 10px 20px;
    text-decoration: none;
    color: #C0C0C0 ;
    border: solid;
    border-color: white;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    
}
#home:hover,#About:hover,#Services:hover,#Portfolio:hover,#content:hover,#lebenslauf:hover{
    background-color: rgb(69, 181, 201);
    color: black;
    transform: scale(1.25);
    transition: 0.5s;
}
/*----------Standard css Oben----------*/

#maincontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#top-container{
    display: flex;
    flex-direction: column;
    border: 2px solid white; 
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    width: 800px;
    margin: 100px 100px 200px 0px;

}

#bot-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: -36px 20px 50px 20px;
    border-radius: 20px;

}

h1{
    background-color: rgb(69, 121, 124);
    padding: 20px;

}

#aboutme{
    background-color: rgb(50, 46, 56);
    padding: 20px;
    line-height: 28px;
    font-size: large;

}

#skillsliste{
    background-color: rgb(50, 46, 56);
    border: solid;
    border-color: white;
    list-style: none;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 60px;

}

#hobby{
    background-color: rgb(50, 46, 56);
    border: solid;
    border-color: white;
    list-style: none;
    padding: 20px;
    border-radius: 20px;

}

.hobbys{
    padding-bottom: 4px;

}

fieldset{
    border: none;

}

legend{
    display: table-caption;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);

}
